{
    "plugins": ["react"],
    "settings": {
      "react": {
        "version": "detect"
      }
    },
    "extends": [
        "eslint:recommended", 
        "plugin:react/recommended",
        "standard",
        "plugin:react/jsx-runtime",
        "plugin:testing-library/react",
        "plugin:jest/all"
    ],
    "parser": "@babel/eslint-parser",
    "parserOptions": {
        "requireConfigFile": false,
        "sourceType": "module"
      },
    "env": {
      "browser": true,
      "es2021": true
    },
    "rules": {
      "react/prop-types": "off",
      "semi": "error"
    }
  }